.dayContainer {
  flex: 50;
  flex-direction: column;
  border-radius: 10px;
}

.dayTop {
  flex: 20;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.dayTop:hover {
  cursor: pointer;
}

.topText {
  color: black;
  font-family: "IBMPlexMono";
  font-size: 20;
  text-align: center;
}
.bottomText {
  color: #000000;
  font-family: "Itim-Regular";
  text-align: center;
  font-size: 20;
}
.columnGap {
  flex: 4;
  background-color: #f8f6eb;
}
