bottomContainer {
  flex: 50;
  background-color: bottomColor;
  border-color: "#7FB570";
  border-width: bottomWidth;
  align-items: "center";
}

.dayContainer {
  flex: 50;
  flex-direction: "column";
}

.dayTop {
  flex: 20;
  background-color: "#000000";
  align-items: "center";
}

.dayTop:hover {
  cursor: pointer;
}

.topText {
  color: "#FFFFFF";
  font-family: "Itim-Regular";
  font-size: 15;
  text-align: "center";
}
bottomText {
  color: "#000000";
  font-family: "Itim-Regular";
  text-align: "center";
  font-size: 20;
}
columnGap {
  flex: 4;
  background-color: "#FFFFFF";
}
