.date-container{
    width: 427px;
    height: 122px;
    flex-shrink: 0;
}

.description-container{
    width: 1082px;
    height: 307px;
    flex-shrink: 0;
}
.description{
    color: #000;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}