.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: blue;
  flex-direction: row;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1050px;
  height: 500px;
  align-content: space-between;
}

.text-input {
  width: 20em;
  height: 2em;
  padding: 0.5em;
  font-size: 1.2em;
}

.text-input {
  margin: 16px 0;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.text-input input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.create:hover {
  cursor: pointer;
}

.create-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.create {
  background-color: #d9d9d9;
  width: 80px;
  height: 40px;
  vertical-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 75px;
  height: auto;
}

.overlay-text {
  position: absolute;
  padding: 0;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -85%);
  color: black;
  font-weight: bold;
  font-size: 15px;
  pointer-events: none;
}
