.container {
  background-color: #ffffff;
  width: 100%;
}

.text-input {
  width: 20em;
  height: 2em;
  padding: 0.5em;
  font-size: 1.2em;
}

.date {
  font-size: 50px;
}

.text-input {
  margin: 16px 0;
  padding: 8px;
  border-radius: 8px;
}

.text-input input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.create:hover {
  cursor: pointer;
}

.create-container {
  display: flex;
  justify-content: center;
}

.create {
  background-color: #d9d9d9;
  width: 80px;
  height: 40px;
  vertical-align: center;
}
