.container {
  display: flex;
  flex-direction: row;
  background-color: #f8f6eb;
  width: 100%;
  max-width: 700px;
  height: 100%;
}

.calendardiv {
  display: flex;
  flex-direction: column;
  background-color: #f8f6eb;
  flex: 37;
}

.sideGap {
  flex: 1;
  background-color: #f8f6eb;
}

.rowGap {
  flex: 5;
  background-color: #f8f6eb;
}
