.dayContainer {
  font-family: "IBMPlexMono";
}

.text {
  font-family: "IBMPlexMono";
  font-size: 15;
  text-align: "center";
  background-color: "#D9D9D9";
}

.container {
  flex-direction: "row";
  flex: 20;
}

.gap {
  flex: 4;
  background-color: #f8f6eb;
}

.foo-container {
  display: flex;
  flex-direction: row;
}
